* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  height: 300px;
  margin-top: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

input {
  border-radius: 5px;
  padding: 5px;
  border-color: blueviolet;
}

input:focus {
  outline: none;
}

button {
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color:blueviolet;
  color: white;
}

p {
  color: red;
  position: absolute;
  bottom: 38%;
  left: 42%;
  display: none;
}